
<div class='pos_home_section'>
    <div class='row'>
        <!--banner slider start-->
        <div class='col-12'>
            <div class='banner_slider slider_two'>
                <div class='slider_active owl-carousel'>
                    <div
                        class='single_slider'
                        style='background-image: url(/img/slider/slider_2.png)'
                    >
                        <div class='slider_content'>
                            <div class='slider_content_inner'>
                                <h1>fashion for you</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    <br />
                                    Cumque eligendi quia, ratione porro, nemo
                                    non.</p>
                                <a href='#'>shop now</a>
                            </div>
                        </div>
                    </div>
                    <div
                        class='single_slider'
                        style='background-image: url(/img/slider/slide_4.png)'
                    >
                        <div class='slider_content'>
                            <div class='slider_content_inner'>
                                <h1>fashion for you</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    <br />
                                    Cumque eligendi quia, ratione porro, nemo
                                    non.</p>
                                <a href='#'>shop now</a>
                            </div>
                        </div>
                    </div>
                    <div
                        class='single_slider'
                        style='background-image: url(/img/slider/slider_3.png)'
                    >
                        <div class='slider_content'>
                            <div class='slider_content_inner'>
                                <h1>fashion for you</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                    <br />
                                    Cumque eligendi quia, ratione porro, nemo
                                    non.</p>
                                <a href='#'>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--banner slider start-->
        </div>
    </div>
    <!--new product area start-->
    <div class='new_product_area product_two'>
        <div class='row'>
            <div class='col-12'>
                <div class='block_title'>
                    <h3> New Products</h3>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='single_p_active owl-carousel'>
                {{#each Products}}
                    <div class='col-lg-3'>
                        <div class='single_product'>
                            <div class='product_thumb'>
                                <a href='/products/{{slug}}'><img
                                        src='{{imageURL}}'
                                        alt=''
                                    /></a>
                                <div class='img_icone'>
                                    <img src='img/cart/span-new.png' alt='' />
                                </div>
                                <form class='product_action' action='/addTocart' method='POST'>
                                    <!-- Thêm input ẩn để truyền thông tin sản phẩm khi submit -->
                                <input type='hidden' name='name' value='{{name}}'>
                                <input type='hidden' name='imageURL' value='{{imageURL}}'>
                                <input type='hidden' name='salePrice' value='{{salePrice}}'>
                                <input type='hidden' name='slug' value='{{slug}}'>
                                <button type='submit'>
                                    <i class='fa fa-shopping-cart'></i>
                                    Add to cart
                                </button>
                                    </form>
                            </div>
                            <div class='product_content'>
                                <span class='product_price'>$ {{price}}</span>
                                <h3 class='product_title'><a
                                        href='/products/{{slug}}'
                                    >{{name}}</a></h3>
                            </div>
                            <div class='product_info'>
                                <ul>
                                    <li><a
                                            href='#'
                                            title=' Add to Wishlist '
                                        >Add to Wishlist</a></li>
                                    <li><a href='/products/{{slug}}'>View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!--new product area start-->

    <!--banner area start-->
    <div class='banner_area banner_two'>
        <div class='row'>
            <div class='col-lg-4 col-md-6'>
                <div class='single_banner'>
                    <a href='#'><img src='/img/banner/banner7.jpg' alt='' /></a>
                    <div class='banner_title'>
                        <p>Up to <span> 40%</span> off</p>
                    </div>
                </div>
            </div>
            <div class='col-lg-4 col-md-6'>
                <div class='single_banner'>
                    <a href='#'><img src='/img/banner/banner8.jpg' alt='' /></a>
                    <div class='banner_title title_2'>
                        <p>sale off <span> 30%</span></p>
                    </div>
                </div>
            </div>
            <div class='col-lg-4 col-md-6'>
                <div class='single_banner'>
                    <a href='#'><img
                            src='/img/banner/banner11.jpg'
                            alt=''
                        /></a>
                    <div class='banner_title title_3'>
                        <p>sale off <span> 30%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

    <!--featured product area start-->
    <div class='new_product_area product_two'>
        <div class='row'>
            <div class='col-12'>
                <div class='block_title'>
                    <h3> featured Products</h3>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='single_p_active owl-carousel'>
                {{#each Products}}
                    <div class='col-lg-3'>
                        <div class='single_product'>
                            <div class='product_thumb'>
                                <a href='/products/{{slug}}'><img
                                        src='{{imageURL}}'
                                        alt=''
                                    /></a>
                                <div class='hot_img'>
                                    <img src='img/cart/span-hot.png' alt='' />
                                </div>
                                <form class='product_action' action='/addTocart' method='POST'>
                                <input type='hidden' name='name' value='{{name}}'>
                                <input type='hidden' name='idUser' value='{{user._id}}'>
                                <input type='hidden' name='imageURL' value='{{imageURL}}'>
                                <input type='hidden' name='salePrice' value='{{salePrice}}'>
                                <input type='hidden' name='slug' value='{{slug}}'>
                                <button type='submit'>
                                    <i class='fa fa-shopping-cart'></i>
                                    Add to cart
                                </button>
                                </form>
                            </div>
                            <div class='product_content'>
                                <span class='product_price'>${{price}}</span>
                                <h3 class='product_title'><a
                                        href='/products/{{slug}}'
                                    >{{name}}</a></h3>
                            </div>
                            <div class='product_info'>
                                <ul>
                                    <li><a
                                            href='#'
                                            title=' Add to Wishlist '
                                        >Add to Wishlist</a></li>
                                    <li><a href='/products/{{slug}}'>View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!--featured product area start-->

    <!--new area start-->
    <div class='blog_area blog_two'>
        <div class='row'>
            {{#each New}}
                <div class='col-lg-4 col-md-6'>
                    <div class='single_blog'>
                        <div class='blog_thumb'>
                            <a href='/news/{{slug}}'><img
                                    src='{{imagenew}}'
                                    alt=''
                                /></a>
                        </div>
                        <div class='blog_content'>
                            <div class='blog_post'>
                                <ul>
                                    <li>
                                        <a href='#'>Tech</a>
                                    </li>
                                </ul>
                            </div>
                            <h3><a href='/news/{{slug}}'>{{titlenew}}</a></h3>
                            <p>{{newdetail}}</p>
                            <div class='post_footer'>
                                <div class='post_meta'>
                                    <ul>
                                        <li>{{time}}</li>
                                        <li>3 Comments</li>
                                    </ul>
                                </div>
                                <div class='Read_more'>
                                    <a href='/news/{{slug}}'>Read more
                                        <i
                                            class='fa fa-angle-double-right'
                                        ></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <!--blog area end-->

    <!--brand logo strat-->
    <div class='brand_logo brand_two'>
        <div class='block_title'>
            <h3>Brands</h3>
        </div>
        <div class='row'>
            <div class='brand_active owl-carousel'>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand1.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand2.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand3.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand4.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand5.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class='single_brand'>
                        <a href='#'><img
                                src='/img/brand/brand6.jpg'
                                alt=''
                            /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand logo end-->
</div>
<!--pos home section end-->
